<ion-view view-cache="false">
  <ion-header-bar>
    <h1 class="title">Complete!</h1>
  </ion-header-bar>
  <ion-content>
  <br>
    <div class="row row-top">
      <div class="col">
        <a href="" class="button button-icon button-positive button-custom button-round" ui-sref="home">
          <i class="icon my-icon ion-checkmark-round"></i><span>Finish Session</span>
        </a>
      </div>
    </div>
    <div class="bottom20">
      <button class="button button-balanced button-block" ui-sref="session({type:2})">
        Re-Record One Part
      </button>
    </div>
  </ion-content>
</ion-view>
