<ion-view>
  <ion-content class="top20">
    <form ng-submit="updateCompany()">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Enter Company Name</span>
          <input type="text" ng-model="data.companyname" placeholder="company name">
        </label>
        <label class="item">
          <button class="button button-block button-balanced button-custom" type="submit">Enter</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
